.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(119, 119, 255);
    padding: 1rem 2rem;
}

.navbar a {
    text-decoration: none;
}
.navbar a:hover {
    color: white;
}

.navbar-links {
    display: flex;
    gap: 2rem;
}