.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(119, 119, 255);
    padding: 1rem 2rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: black;
}
.navbar a:hover {
    color: white;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media(max-width: 768px) {
    .navbar {
        padding: 1rem;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .navbar-links {
        gap: 1rem;
    }
}